{{#if item.damaged}}
    <div class="item-repair-entry">
        <div class="item-repair-header forien-image-name-header">
            <img src="{{item.img}}" alt="{{item.name}}" />
            <h3>{{item.name}}</h3>
        </div>
        <div class="item-repair-body">
            {{#if (eq type 'armour')}}
                {{> forien-armoury.itemRepair.repairItemEntryArmour item=item paid=paid }}
            {{/if}}
            {{#if (eq item.damage item.maxDamage)}}
                {{#if (eq type 'weapon')}}
                    <p>{{{localize 'Forien.Armoury.ItemRepair.WeaponIsMangled'}}}</p>
                {{/if}}
                {{#if (eq type 'trapping')}}
                    <p>{{{localize 'Forien.Armoury.ItemRepair.ItemIsMangled'}}}</p>
                {{/if}}
            {{else}}
                {{#if (eq type 'weapon')}}
                    {{> forien-armoury.itemRepair.repairItemEntryWeapon item=item paid=paid }}
                {{/if}}
                {{#if (eq type 'trapping')}}
                    {{> forien-armoury.itemRepair.repairItemEntryWeapon item=item paid=paid }}
                {{/if}}
            {{/if}}
        </div>
    </div>
{{/if}}