<div class="promo">
    <p>{{localize "Forien.Armoury.Settings.Promo.Promo1"}}</p>
    <p>{{localize "Forien.Armoury.Settings.Promo.Promo2"}}</p>
    <p>{{localize "Forien.Armoury.Settings.Promo.Promo3"}}</p>

    <div class="support-links">
        <a href="https://discord.gg/XkTFv8DRDc" target="_blank">
            <img src="https://img.shields.io/badge/Discord-%235865F2.svg?style=for-the-badge&amp;logo=discord&amp;logoColor=white&amp;link=https%3A%2F%2Fdiscord.gg%2FXkTFv8DRDc"
                 alt="Discord"/>
        </a>
        <a href="https://www.patreon.com/foundryworkshop" target="_blank">
            <img src="https://img.shields.io/badge/Patreon-F96854?style=for-the-badge&amp;logo=patreon&amp;logoColor=white"
                 alt="Patreon"/>
        </a>
        <a href="https://ko-fi.com/forien" target="_blank">
            <img src="https://img.shields.io/badge/Ko--fi-F16061?style=for-the-badge&amp;logo=ko-fi&amp;logoColor=white"
                 alt="Ko-Fi"/>
        </a>
    </div>
    <div class="other-links">
        <p>
            {{localize "Forien.Armoury.Settings.Promo.ModuleOn"}}
            <a href="https://foundryvtt.com/packages/forien-armoury/" target="_blank">{{localize
                    "Forien.Armoury.Settings.Promo.FVTTWebsite"}}</a>
        </p>
        <p>
            {{localize "Forien.Armoury.Settings.Promo.ProjectOn"}}
            <a href="https://github.com/Forien/foundryvtt-forien-armoury" target="_blank">{{localize
                    "Forien.Armoury.Settings.Promo.Github"}}</a>
        </p>
        <p>
            {{localize "Forien.Armoury.Settings.Promo.CheckOtherModules"}}
            <a href="https://foundryvtt.com/community/forien" target="_blank">{{localize
                    "Forien.Armoury.Settings.Promo.MyFVTTProfile"}}</a>
        </p>
    </div>
</div>