<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <div class="form-group stacked spell-container">
        <label style="flex-grow: 2;" class="label-text">
            {{localize "Forien.Armoury.Grimoires.Spells"}}
            {{#if (isGM)}}
                <i class="fas fa-trash spells-remove"
                   data-tooltip="{{localize "Forien.Armoury.Grimoires.RemoveSpells"}}"></i>
                <i class="fas fa-list generate-description"
                   data-tooltip="{{localize "Forien.Armoury.Grimoires.GenerateDescription"}}"></i>
            {{/if}}
        </label>
        <div class="spells {{#if hideSpells}}blurred{{/if}}">
            {{#if spells.length}}
                {{#each spells as |spell s|}}
                    <div class="spell" data-uuid="{{spell.uuid}}">
                        <img src="{{spell.img}}" alt="{{spell.name}}" />
                        <div class="spell-details">
                            <div class="spell-name">
                                {{#if ../hideSpells}}
                                    {{spell.name}}
                                {{else}}
                                    <input type="text" value="{{spell.name}}" />
                                {{/if}}
                            </div>
                            {{#if spell.system}}
                                <div class="tags">
                                                <span class="tag">{{localize "Lore"}}: {{lookup ../magicLores
                                                                                                spell.system.lore.value}}</span>
                                    <span class="tag">{{localize "CN"}}: {{spell.grimoireCN}}</span>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="spell-drop-zone">{{localize "Forien.Armoury.Grimoires.DropHere"}}</div>
            {{/if}}
        </div>
    </div>

    <div class="form-group">
        <label class="label-text">{{localize "NAME.Language"}}</label>
        <div class="input-box">
            <input class="input-text" type="text" name="system.language" value="{{system.language}}"
                   data-dtype="String" {{#unless canEditLanguage}}disabled{{/unless}}/>
        </div>
    </div>

    {{formGroup fields.twohanded.fields.value value=source.system.twohanded.value}}

    {{> itemProperties}}
</section>